.flex-container {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-header-container {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.flex-item-left {
  -webkit-box-flex: 30%;
  -ms-flex: 30%;
  flex: 30%;
}

.flex-item-right {
  -webkit-box-flex: 70%;
  -ms-flex: 70%;
  flex: 70%;
}

.font {
  font-size: 150%;
}

input[type="file"],
select {
  width: 50%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0.2em;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #ffcc00;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #f8ac30;
}

.isiProfil {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  margin-right: 4%;
  margin-top: 5%;
  margin-left: 2%;
}

.sidenav {
  position: fixed;
  width: 28%;
  z-index: 1;
  top: 7%;
  left: 3%;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav-main-img {
  margin: 0 15%;
  width: 70%;
  height: auto;
}

.font-color a {
  color: #000;
}

.sidenav-img {
  width: 1.5em;
}

.sidenav-profil-img {
  width: 100%;
}

.btn-group .button {
  text-align: left;
  background-color: white;
  border: 0px solid green;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  display: block;
}

.btn-group .button-logo {
  text-align: left;
  background-color: white;
  border: 0px solid green;
  color: black;
  padding: 1em 1em;
  font-size: 16px;
  width: 100%;
  display: block;
}

.atas {
  border-radius: 5px 5px 0px 0px;
}

.bawah {
  border-radius: 0px 0px 5px 5px;
}

.btn-group .button:hover {
  background-color: #ffcc00;
  width: 100%;
}

textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  height: 5%;
}

/* clear default styling */
.default-link {
  text-decoration: none;
  color: #000;
}

.default-list {
  list-style-type: none;
}

/* mobile sidebar collapse button */
.closebtn {
  float: right;
  margin: 0 50%;
  font-size: 1.5em;
}

/* mobile sidebar */
.mobile-sidebar {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #ffcc00;
  display: none;
}

.mobile-sidebar-items {
  line-height: 150%;
  font-size: 2em;
  display: none;
}

/* navbar */
nav.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #ffcc00;
  overflow: auto;
}

nav.navbar button {
  float: right;
  padding: 1em;
  font-size: 1em;
  background-color: #ffcc00;
  border: none;
}

nav.navbar .navbar-img {
  float: left;
  width: 9em;
}

nav.navbar button:hover {
  background-color: #f8ac30;
}

nav.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* responsive layout */
/* desktop */
@media screen and (min-width: 769px) and (max-width: 2000px) {
  body {
    background-image: url(../../../img/bg-3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  nav.navbar {
    display: none;
  }
}
/* mobile */
@media screen and (min-width: 200px) and (max-width: 768px) {
  body {
    background-image: url(../../../img/bg-3.jpg);
    background-size: 100%;
    background-attachment: fixed;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex-item-left .sidenav {
    display: none;
  }

  nav.navbar {
    display: block;
  }

  .isiProfil {
    margin-top: 15%;
  }
}
a {
  text-decoration: none;
}
