// Daftar variable css

// Color
$bgPage: #2d9a3f;
$navyBlue: #6cc5e0;
$carrotOrange: #fbad2f;
$deleteRed: #ff0000;

// Size
$smallSize: 8px;
$smallSize_12: 12px;
$mediumSize: 16px;
$mediumSize_20: 20px;
$bigSize: 24px;
