@import "../../../variable.scss";

body {
  background-color: $bgPage;
}
p {
  margin: 0;
}

.titleContainer {
  background-color: #fff;
  border-radius: $smallSize_12;
  display: flex;
  flex-direction: column;

  .title {
    margin: $smallSize;
    font-size: $bigSize;
  }
}

.btnTambah {
  background-color: $carrotOrange;
  border-radius: $smallSize;
}

.itemSiswa {
  display: flex;
  flex-direction: column;
  border-radius: $smallSize_12;
  margin-top: $mediumSize_20;
  background-color: #fff;
  overflow: hidden;

  .itemSiswa_titleContainer {
    background-color: $navyBlue;
    .itemSiswa_title {
      color: #fff;
      font-size: $bigSize;
    }
  }

  .itemSiswa_dataContainer {
    display: flex;
    padding: $smallSize_12 $mediumSize;
  }

  .itemSiswa_btnContainer {
    display: flex;
    padding: $smallSize_12 $mediumSize;
    .itemSiswa_btn {
      padding: $smallSize $smallSize_12;
      border-radius: $smallSize_12;
      text-decoration: none;

      .itemSiswa_btnText {
        color: #000;
      }
    }
    .itemSiswa_btnEdit {
      background-color: $navyBlue;
    }
    .itemSiswa_btnDelete {
      background-color: $deleteRed;
      margin-left: $mediumSize_20;
    }
  }
}
