body {
  background-image: url(../../../img/bg-3.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.font-color a {
  color: black;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-item-left {
  -webkit-box-flex: 30%;
  -ms-flex: 30%;
  flex: 30%;
}

.flex-item-right {
  -webkit-box-flex: 70%;
  -ms-flex: 70%;
  flex: 70%;
}

.show-detail {
  background-color: #ffcc00;
  border: 0px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  border-radius: 4px;
  padding: 15px 12px;
  font-size: medium;
  text-align: center;
}

.show-detail:hover {
  background-color: #ff9900;
}

.font {
  font-size: 120%;
  padding-bottom: 5%;
}

.button-tambah {
  margin-top: 2%;
  margin-right: 4%;
  margin-left: 2%;
}

.isi {
  border-radius: 5px;
  padding: 1px 20px;
  margin-right: 4%;
  margin-left: 2%;
}

.isi h2 {
  color: white;
}

.header {
  padding: 2px;
  padding-left: 20px;
  margin-top: 5%;
  background-color: white;
}

.sidenav {
  position: fixed;
  width: 28%;
  z-index: 1;
  top: 7%;
  left: 3%;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav-main-img {
  margin: 0 15%;
  width: 70%;
  height: auto;
}

.font-color {
  color: black;
}

.sidenav-imgs {
  width: 1.5em;
}

.button-logo {
  text-align: left;
  background-color: white;
  border: 0px solid green;
  color: black;
  padding: 1em 1em;
  font-size: 16px;
  width: 100%;
  display: block;
}

.btn-group .button {
  text-align: left;
  background-color: white;
  border: 0px solid green;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  display: block;
}

.btn-group .button img {
  width: 100%;
}

.judul {
  margin-top: 2%;
  background-color: cornflowerblue;
}

.judul .aksi {
  float: right;
  margin-right: 3%;
}

.konten {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 2%;
}

.atas {
  border-radius: 5px 5px 0px 0px;
}

.bawah {
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 2%;
}

.btn-group .button:hover {
  background-color: #ffcc00;
  width: 100%;
}

a {
  text-decoration: none;
}

.icon-aksi {
  padding-top: 2%;
  padding-bottom: 2%;
}

.icon-aksi img {
  float: right;
  margin-right: 1em;
  width: 1.5em;
}

/* clear default styling */
.default-link {
  text-decoration: none;
}

.default-list {
  list-style-type: none;
}

/* mobile sidebar collapse button */
.closebtn {
  float: right;
  margin: 0 50%;
  font-size: 1.5em;
}

/* mobile sidebar */
.mobile-sidebar {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #ffcc00;
  display: none;
}

.mobile-sidebar-items {
  line-height: 150%;
  font-size: 2em;
  display: none;
}

/* navbar */
nav.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #ffcc00;
  overflow: auto;
}

nav.navbar li button {
  float: right;
  padding: 1em;
  font-size: 1em;
  background-color: #ffcc00;
  border: none;
}

nav.navbar .navbar-img {
  float: left;
  width: 9em;
}

nav.navbar button:hover {
  background-color: #f8ac30;
}

nav.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* responsive layout */
/* desktop */
@media screen and (min-width: 769px) and (max-width: 2000px) {
  .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  nav.navbar {
    display: none;
  }
}

/* mobile */
@media screen and (min-width: 200px) and (max-width: 768px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flex-item-left .sidenav {
    display: none;
  }
  nav.navbar {
    display: block;
  }
  .header {
    margin-top: 4em;
  }
}
/*# sourceMappingURL=index.css.map */
